*{
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
body{
    font-family:'Roboto', sans-serif;
    background-color: rgb(30, 30, 30);
    margin: 0%;
}

h1{ font-size: 3.5em;
    text-shadow: 2px 2px black;
}
h2{
    font-size: 2.7em;
    text-shadow: 2px 2px black;
}
h3{font-size: 2em}
p{font-size: 1.25em;}
ul{list-style: none;}
li{font-size: 1.25;}

button{
    font-size: 1.5em;
    font-weight: bolder;
    padding: 10px 20px;
    border-radius: 10px;
    border: 2px solid rgba(0, 0, 0, 0.466);
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.466);
    color:white;
    background-color: rgba(214, 14, 14, 0.747);
}

button:hover{
    background-color: rgba(214, 14, 14, 0.747);
}

.container{
    max-width: 1400px;
    margin: auto;
}

header{
    background-color: rgb(245, 245, 245);
}
header .logo{
    margin: 0;
    padding: 25px 30px;
    font-weight: bold;
    color: rgba(214, 14, 14, 0.747);
    font-size: 1.6em;
}

header .container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

header nav{
    display: flex;
    flex-direction:column;
    text-align: center;
    padding-bottom: 25px;
}

header a{
    padding: 5px 12px;
    text-decoration: none;
    font-weight: bold;
    color: black;
}

header a:hover{
    color: blue;
}

#hero{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction:column;
    height: 120vh;
    color:white;
    background-image: linear-gradient(
        0deg,
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5)
    )
    ,url(/static/img/5751_10153700108146047_4525766113436597216_n.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position:center center;
}

#grilla .container{
    
    background-position: center center;
    padding-top: 10px;
}

#grilla{
    background-color: rgb(30,30,30);
    color:rgb(245, 245, 245);
    text-align: center;
}

#grilla h2{
    margin-top: 0%;
}
#grilla img{
    width: 100%;
    max-height:720px;
}
#nuestras-clases{
    background-color: rgb(30,30,30);
    color:rgb(245, 245, 245);
    text-align: center;
}

#nuestras-clases .container{
    padding:10px 12px;
}

#nuestras-clases h2{
    margin-top: 0;
    padding: 20px 10px;
}

#nuestras-clases p{
    display: none;
}

#nuestras-clases .button{
    background-image:url(/static/img/hqdefault.jpg);
}

#nuestras-clases .carta{
    background-position: center center;
    background-size:cover;
    padding: 50px;
    margin: 12px;
    border-radius: 15px;
}

.carta:first-child{
    background-image: linear-gradient(
        0deg,
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5)
    ),url(/static/img/artes_marciales_mixtas_ufc.jpg);
}
.carta:nth-child(2){
    background-image: linear-gradient(
        0deg,
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5)
    ),url(/static/img/kick-9-1-862x290.jpg);
}
.carta:nth-child(3){
    background-image: linear-gradient(
        0deg,
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5)
    ),url(/static/img/hqdefault.jpg);
}
#aplica-ya .container{
    text-align: center;
    background-color: rgb(30,30,30);
}
#aplica-ya h2{
    color:white;
    margin-top: 0%;
    padding-top: 20px;
}
#aplica-ya button{
    margin-bottom: 20px;
}
footer p{
    margin:0%;
    padding: 12px;
    color: rgb(100, 100, 100);
    text-align: center;
}
footer.container{
    height: 150px;
    display: flex;
    align-items: flex-end;
}

@media(min-width:720px){
    header{
        position: fixed;
        width: 100%;
    }
    header .container{
        flex-direction: row;
        justify-content: space-between;
    }
    header nav{
        flex-direction: row;
        padding-bottom: 0px;
        padding-right: 20px;
    }

    #nuestras-clases .programas{
        display: flex;
        justify-content: center;
    }
    #nuestras-clases p{
        display: block;
    }
    #nuestras-clases h3{
        margin-top: 0;
    }
    #nuestras-clases .carta{
        padding: 15px;
    }
}