<!DOCTYPE html>
<html lang="en">
<head>
    <title>Sukata Brothers</title>
    <link rel="stylesheet" href="/static/css/styles.css">
</head>
<body>
    <header>
        <div class="container">
            <p class="logo">Sukata Brothers</p>
            <nav>
                <a href="#">Academias</a>
                <a href="#aplica-ya">Inscripcion</a>
                <a href="#nuestras-clases">Clases</a>
                <a href="#grilla">Clases</a>
            </nav>
        </div>
    </header>
    <section id="hero">
        
        <h1>Aprendé a luchar <br> con los mejores</h1>
        <button>INSCRIBITE YA!</button>
    </section>

    <section id="nuestras-clases">
        <div class="container">
            <h2>Nuestras clases</h2>
            <div class="programas">
                <div class="carta">
                    <h3>Clases de MMA</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur
                    adipiscing elit, sed do eiusmod tempor
                    incididunt ut labore et dolore magna aliqua.
                    Ut enim ad minim veniam, quis nostrud exercitation
                    ullamco laboris nisi ut aliquip ex ea commodo consequat
                    Duis aute irure dolor in reprehenderit in voluptate velit
                    esse cillum dolore eu fugiat nulla pariatur. Excepteur
                    sint occaecat cupidatat non proident, sunt in culpa qui
                    officia deserunt mollit anim id est laborum.</p>
                    <button>+ Info</button>
                </div>
                <div class="carta">
                    <h3>Clases de Kick boxing</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur
                        adipiscing elit, sed do eiusmod tempor
                        incididunt ut labore et dolore magna aliqua.
                        Ut enim ad minim veniam, quis nostrud exercitation
                        ullamco laboris nisi ut aliquip ex ea commodo consequat
                        Duis aute irure dolor in reprehenderit in voluptate velit
                        esse cillum dolore eu fugiat nulla pariatur. Excepteur
                        sint occaecat cupidatat non proident, sunt in culpa qui
                        officia deserunt mollit anim id est laborum.</p>
                        <button>+ Info</button>
                </div>
                <div class="carta">
                    <h3>Clases de Jiu jitsu</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur
                        adipiscing elit, sed do eiusmod tempor
                        incididunt ut labore et dolore magna aliqua.
                        Ut enim ad minim veniam, quis nostrud exercitation
                        ullamco laboris nisi ut aliquip ex ea commodo consequat
                        Duis aute irure dolor in reprehenderit in voluptate velit
                        esse cillum dolore eu fugiat nulla pariatur. Excepteur
                        sint occaecat cupidatat non proident, sunt in culpa qui
                        officia deserunt mollit anim id est laborum.</p>
                        <button>+ Info</button>
                </div>
            </div>
        </div>
    </section>

    <section id="grilla">
        <div class="container">
        </div>
    </section>

    <section id="aplica-ya">
        <div class="container">
            <h2>Listo para entrenar?</h2>
            <button>Aplica ya!</button>
        </div>
    </section>

    <footer>
        <div class="container">
            <p>&copy; Sukata Brothers 2021</p>
        </div>
        
    </footer>
</body> 
</html>